<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mu-G | <%= title %></title>
    <%- include('./style.ejs')%>

</head>
<body>
   <nav>
    <div class="site-title">
    <a href="/"><h1>Mu-G</h1></a>
     <p>LoginPage</p>
    </div>
    <ul>
        <li> <a href="/">Blog</a> </li>
        <li><a href="/admin-log">about</a> </li>
        <li><a href="/newblog"> New Blog</a> </li>
    </ul>
   </nav>
   <div class="not content">
    <h2> it`s an error</h2>
   </div>
</body>
</html>