<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mu-G | <%= title %></title>
    <%- include('./style.ejs')%>

</head>
<body>
   <nav>
    <div class="site-title">
    <a href="/"><h1>Mu-G</h1></a>
     <p>LoginPage</p>
    </div>
    <ul>
        <li> <a href="/">Login Page</a> </li>
        <li><a href="/admin-log">Admin Page</a> </li>
        <li><a href="/newblog"> New Blog</a> </li>
    </ul>
   </nav>
   <div class="about content">
    <h2>All Blogs</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora saepe atque quisquam quo nam! Totam quia maiores corporis nulla voluptate nisi at veniam, ipsam inventore asperiores! Debitis magnam iste labore.</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum soluta saepe dicta assumenda illo laudantium, ratione omnis itaque nihil odio repellendus a qui odit quia debitis sit? Possimus, ducimus nobis?</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae illum dicta inventore labore accusamus perferendis, reiciendis temporibus reprehenderit numquam expedita esse voluptas aperiam tempora culpa error voluptatem modi veniam nam!</p>
   </div>
   <footer>   
    <p>copyright &copy; Blog Mu-G</p>
</footer>
</body>
</html>